
body {
  text-align: center;
  font-family: Arial;
  width: 85%;
  margin: 0 auto;
  font-size: 16px;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 80px;
  margin: 15px;
  margin-bottom: 7px;
}

#login-buttons {
  margin: 10px;
}

#scoreboard {
  width: 210px;
  height: 210px;
  border: 4px solid hotpink;
  text-align: center;
  float: right;
  margin-top: 100px;
}

#scoreboard > div {
  padding: 2px;
  margin-top: 16px;
}

#messaging {
  border: 4px solid turquoise;
  width: 210px;
  height: 210px;
  float: left;
  margin-top: 100px;
  display: table;
  text-align: center;
}

#messaging > div {
  display: table-cell;
  vertical-align: middle;
  padding: 8px;
  margin-left: 15px;
}

#board {
  width: 700px;
  height: 700px;
  margin: 0 auto;
}

#board > div {
  width: 210px;
  height: 210px;
  margin: 1%;
  margin-left: 14px;
  border: 2px solid #707070;
  float: left;
  font-size: 150px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#winner {
  border: 2px solid green;
}

#container {
  height: 145px;
}

#prompt {
  display: table-cell;
  vertical-align: middle;
  width: 202px;
/*  clear: both;*/
}

#game-controls {
  margin-left: -10px;
}

li {
  list-style-type: none;
  text-align: center;
  margin-left: -40px;
}
