* {
  margin: 0;
  padding: 0;
}

#scoreboard {
  background: hotpink;
  width: 60%;
  height: 80px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#messaging {
  background: turquoise;
  width: 60%;
  height: 60px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#prompt {
  display:none;
}

#board {
/*  background-color: black;*/
  width: 55%;
  height: 600px;
  margin: 0 auto;
/*  border-radius: 5%; */
}



#board > div {
  background-color: blue;
  width: 30%;
  height: 30%;
  background-color: white;
  margin: 1%;
/*  display: inline-block; */
  border: 2px solid black;
  float: left;
  font-size: 150px;
  text-align: center;
}
